# dependencies
node_modules/
.pnp
.pnp.js

# build
dist/
build/
*.tsbuildinfo

# env
.env
.env.local
.env.*.local
.dev.vars

# editor / os
.vscode/
.idea/
.DS_Store
Thumbs.db

# logs
*.log
npm-debug.log*

# capacitor
/web/ios/
/web/android/
/web/.capacitor/

# cloudflare
.wrangler/
worker/.wrangler/
